html,
body {
  height: 100%;
  color: var(--color-main);
}

body {
  margin: 0;
}

html.record-page-active {
  scroll-padding-top: 220px;
}

@media only screen and (min-width: 640px) {
  html.record-page-active {
    scroll-padding-top: 80px;
  }
}

.btn-text-white {
  @apply text-white hover:text-primary-lighter;
}

.badge-btn {
  @apply transition-colors;
}

.badge-btn.active {
  @apply bg-primary;
}

.tippy-box a {
  @apply text-primary-lighter;
  text-decoration: underline;
}

.tippy-box a:hover {
  @apply text-primary-lightest;
}

/* this targets the main search field */
gn-ui-autocomplete .gn-ui-text-input {
  @apply focus:outline-white focus:outline-2 focus:outline-dotted focus:outline-offset-2 shadow-xl;

  &:focus {
    box-shadow: 0 0 24px 0 rgba(21, 40, 184, 0.09);
  }
}

.basicLightbox.basicLightbox--visible {
  z-index: 1003;
  /* 1000 is for cdk overlays, 1002 is for nav bar */
}

/* Datahub IGN adaptation */
gn-ui-autocomplete > span {
  background-color: white !important;
}

gn-ui-internal-link-card > a,
gn-ui-external-link-card > a {
  background-image: none !important;
}

gn-ui-internal-link-card > [target='_blank']::after,
gn-ui-external-link-card > [target='_blank']::after {
  content: none;
}

gn-ui-favorite-star {
  visibility: hidden;
}

.gn-ui-btn-outline {
  border: 1px solid !important;
  border-color: var(--color-gray-300) !important;
}

.gn-ui-btn-outline:hover {
  border: 1px solid !important;
  border-color: var(--color-primary-lighter);
  color: var(--color-primary-darker);
}

#downloads,
#user-feedbacks {
  display: none;
}

a > ng-icon[name='matOpenInNew'],
a > ng-icon[name='iconoirOpenNewWindow'] {
  display: none;
}

.hover\:underline:hover,
.markdown-body > p > a:hover {
  text-decoration-line: none !important;
}

[href].gn-ui-btn-primary {
  background-image: none !important;
}

[href].gn-ui-btn-primary:hover,
.clear-btn:hover {
  color: black;
}

.fr-badge--sm {
  padding: 0 0.375rem 0 0 !important;
}
