html,
body {
  height: 100%;
  color: var(--color-main);
}

body {
  margin: 0;
}

html.record-page-active {
  scroll-padding-top: 220px;
}

@media only screen and (min-width: 640px) {
  html.record-page-active {
    scroll-padding-top: 80px;
  }
}

.btn-text-white {
  @apply text-white hover:text-primary-lighter;
}

.badge-btn {
  @apply transition-colors;
}

.badge-btn.active {
  @apply bg-primary;
}

.tippy-box a {
  @apply text-primary-lighter;
  text-decoration: underline;
}

.tippy-box a:hover {
  @apply text-primary-lightest;
}

/* this targets the main search field */
gn-ui-autocomplete .gn-ui-text-input {
  @apply focus:outline-white focus:outline-2 focus:outline-dotted focus:outline-offset-2 shadow-xl focus:shadow-[0_0_24px_0_rgba(21,40,184,0.09)];
}

gn-ui-related-record-card > a[href]:hover {
  background-color: white !important;
}

gn-ui-navigation-button > button:not(:disabled):hover,
gn-ui-button > button:hover.bg-secondary {
  background-color: rgba(0, 0, 145, 0.5) !important;
}

[target='_blank']:not(.fr-footer__bottom-link, .fr-footer__content-link, edu-item-link
    > .fr-btn)::after {
  content: none;
}

input {
  background-color: white;
}

h2.font-title {
  color: white;
}

a:not(.fr-footer__bottom-link, .fr-footer__content-link) {
  background-image: none !important;
}
