<div
  gnUiSearchRouterContainer="mainSearch"
  class="selection:bg-primary-lightest selection:text-primary-darker"
>
  <dsfr-header
    [beta]="'true'"
    [serviceTitle]="'cartes.gouv.fr'"
    [logoLink]="'https://cartes.gouv.fr'"
    [operatorImagePath]="
      'https://data.geopf.fr/annexes/ressources/header/cartes-gouv-logo.svg'
    "
    [serviceTagline]="'Le service public des cartes et données du territoire'"
    [menu]="[]"
  >
    <ng-template #toolsLinksTemplate>
      <li>
        <dsfr-tool-link-menu
          [outline]="false"
          [labelMenu]="'Aide'"
          [iconMenu]="'fr-icon-question-fill'"
        >
          <ng-template #linksTemplate>
            <ul>
              <dsfr-link
                [link]="'https://cartes.gouv.fr/aide/fr/'"
                [linkTarget]="'_blank'"
                [label]="'Questions fréquentes'"
                [icon]="'fr-icon-question-mark'"
                [customClass]="'fr-nav__link'"
                [iconPosition]="'left'"
              ></dsfr-link>
              <dsfr-link
                [link]="
                  'https://cartes.gouv.fr/aide/fr/guides-utilisateur/rechercher-une-donnee/'
                "
                [linkTarget]="'_blank'"
                [label]="'Guide d\'utilisation'"
                [icon]="'fr-icon-book-2-line'"
                [customClass]="'fr-nav__link'"
                [iconPosition]="'left'"
              ></dsfr-link>
              <dsfr-link
                [link]="'https://cartes.gouv.fr/nous-ecrire'"
                [linkTarget]="'_blank'"
                [label]="'Nous contacter'"
                [icon]="'fr-icon-mail-line'"
                [customClass]="'fr-nav__link'"
                [iconPosition]="'left'"
              ></dsfr-link>
            </ul>
          </ng-template>
        </dsfr-tool-link-menu>
      </li>
      <li>
        <dsfr-tool-link-menu
          [outline]="false"
          [labelMenu]="'Services'"
          [iconMenu]="'fr-icon-grid-fill'"
        >
          <ng-template #linksTemplate>
            <ul>
              <dsfr-link
                [link]="'https://cartes.gouv.fr/explorer-les-cartes/'"
                [label]="'Explorer les cartes'"
                [icon]="'fr-icon-road-map-line'"
                [customClass]="'fr-nav__link'"
                [iconPosition]="'left'"
              ></dsfr-link>
              <dsfr-link
                [link]="'https://cartes.gouv.fr/rechercher-une-donnee/search'"
                [label]="'Rechercher une donnée'"
                [icon]="'fr-icon-search-line'"
                [customClass]="'fr-nav__link'"
                [iconPosition]="'left'"
              ></dsfr-link>
              <dsfr-link
                [link]="'https://cartes.gouv.fr/tableau-de-bord'"
                [label]="'Publier une donnée'"
                [icon]="'fr-icon-database-line'"
                [customClass]="'fr-nav__link'"
                [iconPosition]="'left'"
              ></dsfr-link>
              <!--<li><a class="fr-nav__link" href="https://cartes.gouv.fr/editeur/cartes"> <span
                    class="fr-icon-brush-line fr-link--icon-left" aria-hidden="true"></span>
                  Créer une carte &nbsp; <span
                    class="fr-badge fr-badge--success fr-badge--no-icon fr-badge--sm">Bêta</span></a></li>-->
              <li style="display: flex">
                <a
                  style="margin: 16px 24px"
                  class="fr-btn fr-btn--tertiary"
                  target="_blank"
                  href="https://cartes.gouv.fr/decouvrir"
                  >Découvrir cartes.gouv.fr</a
                >
              </li>
            </ul>
          </ng-template>
        </dsfr-tool-link-menu>
      </li>
      <li>
        <dsfr-tool-link-menu
          [outline]="false"
          [labelMenu]="'Mon espace'"
          [iconMenu]="'fr-icon-account-circle-fill'"
        >
          <ng-template #linksTemplate>
            <ul>
              <dsfr-link
                [link]="'https://cartes.gouv.fr/tableau-de-bord'"
                [label]="'Tableau de bord'"
                [icon]="'fr-icon-dashboard-3-line'"
                [customClass]="'fr-nav__link'"
                [iconPosition]="'left'"
              ></dsfr-link>
              <dsfr-link
                [link]="'https://cartes.gouv.fr/mon-compte'"
                [label]="'Mon compte'"
                [icon]="'fr-icon-user-line'"
                [customClass]="'fr-nav__link'"
                [iconPosition]="'left'"
              ></dsfr-link>
            </ul>
          </ng-template>
        </dsfr-tool-link-menu>
      </li>
    </ng-template>
  </dsfr-header>
  <router-outlet></router-outlet>
  <dsfr-footer
    [presentation]="
      'Cartes.gouv.fr est développé par l’Institut national de l’information géographique et forestière (IGN) et ses partenaires. Le site s’appuie sur la Géoplateforme, la nouvelle infrastructure publique, ouverte et collaborative des données géographiques.'
    "
    [institutionalLinks]="[
      {
        label: 'info.gouv.fr',
        link: 'https://info.gouv.fr',
        tooltipMessage: 'info.gouv.fr - ouvre une nouvelle fenêtre',
        target: '_blank',
      },
      {
        label: 'service-public.gouv.fr',
        link: 'https://service-public.gouv.fr',
        tooltipMessage: 'service-public.gouv.fr- ouvre une nouvelle fenêtre',
        target: '_blank',
      },
      {
        label: 'legifrance.gouv.fr',
        link: 'https://legifrance.gouv.fr',
        tooltipMessage: 'legifrance.gouv.fr - ouvre une nouvelle fenêtre',
        target: '_blank',
      },
      {
        label: 'data.gouv.fr',
        link: 'https://data.gouv.fr',
        tooltipMessage: 'data.gouv.fr - ouvre une nouvelle fenêtre',
        target: '_blank',
      },
    ]"
    [mandatoryLinks]="[
      { label: 'Plan du site', link: 'https://cartes.gouv.fr/plan-du-site' },
      {
        label: 'Accessibilité: partiellement conforme',
        link: 'https://cartes.gouv.fr/accessibilite',
      },
      {
        label: 'Mentions légales',
        link: 'https://cartes.gouv.fr/mentions-legales',
      },
      {
        label: 'Données personnelles',
        link: 'https://cartes.gouv.fr/donnees-personnelles',
      },
    ]"
    [partnerMain]="{
      imagePath: 'https://data.geopf.fr/annexes/ressources/footer/ign.png',
      imageAlt: 'IGN',
      link: 'https://www.ign.fr',
    }"
    [partnersSub]="[
      {
        imagePath: 'https://data.geopf.fr/annexes/ressources/footer/min_fp.jpg',
        imageAlt: 'MINISTÈRE DE LA TRANSFORMATION ET DE LA FONCTION PUBLIQUES',
        link: 'https://www.transformation.gouv.fr/',
      },
      {
        imagePath:
          'https://data.geopf.fr/annexes/ressources/footer/min%5Fecologie.jpg',
        imageAlt:
          'MINISTÈRE DE LA TRANSITION ÉCOLOGIQUE ET DE LA COHÉSION DES TERRITOIRES',
        link: 'https://www.ecologie.gouv.fr/',
      },
      {
        imagePath:
          'https://data.geopf.fr/annexes/ressources/footer/rf%5Fcnig.jpg',
        imageAlt: 'Conseil National de l’Information Géolocalisée',
        link: 'https://cnig.gouv.fr/',
      },
    ]"
    [reboundLinks]="[]"
    [license]="
      'Sauf mention explicite de propriété intellectuelle détenue par
    des tiers, les contenus de ce site sont proposés sous &#60;a href=&#34;https://github.com/etalab/licence-ouverte/blob/master/LO.md&#34; target=&#34;_blank&#34; title=&#34;licence etalab-2.0 - ouvre une nouvelle fenêtre&#34;&#62;licence etalab-2.0&#60;/a&#62;'
    "
  ></dsfr-footer>
</div>
