<div
  gnUiSearchRouterContainer="mainSearch"
  class="selection:bg-primary-lightest selection:text-primary-darker"
>
  <dsfr-header
    [serviceTitle]="'cartes.gouv.fr'"
    [logoLink]="'https://cartes.gouv.fr'"
    [serviceTagline]="'Le service public des cartes et données du territoire'"
    [menu]="[
      {
        label: 'Commencer avec cartes.gouv',
        subItems: [
          {
            label: 'Documentation',
            link: 'https://cartes.gouv.fr/aide/',
          },
          { label: 'Offre', link: 'https://cartes.gouv.fr/offre' },
          {
            label: 'Nous rejoindre',
            link: 'https://cartes.gouv.fr/nous-rejoindre',
          },
        ],
      },
      { label: 'Catalogue', link: 'https://cartes.gouv.fr/catalogue' },
      { label: 'Cartes', link: 'https://cartes.gouv.fr/cartes' },
      { label: 'Actualités', link: 'https://cartes.gouv.fr/actualites' },
      {
        label: 'Assistance',
        subItems: [
          { label: 'Questions fréquentes', link: 'https://cartes.gouv.fr/faq' },
          { label: 'Nous écrire', link: 'https://cartes.gouv.fr/nous-ecrire' },
          {
            label: 'Niveau de service',
            link: 'https://cartes.gouv.fr/niveau-de-service',
          },
        ],
      },
      { label: 'À propos', link: 'https://cartes.gouv.fr/a-propos' },
    ]"
    [headerToolsLinks]="[
      {
        label: 'Accéder au Géoportail',
        link: 'https://www.geoportail.gouv.fr/carte',
        target: '_blank',
        tooltipMessage: 'Accéder au Géoportail',
      },
      {
        label: 'Mon compte',
        icon: 'fr-btn--account',
        link: 'https://cartes.gouv.fr/tableau-de-bord',
      },
    ]"
    [beta]="true"
  ></dsfr-header>
  <router-outlet></router-outlet>
  <dsfr-footer
    [presentation]="
      'Cartes.gouv.fr est développé par l’Institut national de l’information géographique et forestière (IGN) et ses partenaires. Le site s’appuie sur la Géoplateforme, la nouvelle infrastructure publique, ouverte et collaborative des données géographiques.'
    "
    [institutionalLinks]="[
      {
        label: 'info.gouv.fr',
        link: 'https://info.gouv.fr',
        tooltipMessage: 'info.gouv.fr - ouvre une nouvelle fenêtre',
        target: '_blank',
      },
      {
        label: 'service-public.gouv.fr',
        link: 'https://service-public.gouv.fr',
        tooltipMessage: 'service-public.gouv.fr- ouvre une nouvelle fenêtre',
        target: '_blank',
      },
      {
        label: 'legifrance.gouv.fr',
        link: 'https://legifrance.gouv.fr',
        tooltipMessage: 'legifrance.gouv.fr - ouvre une nouvelle fenêtre',
        target: '_blank',
      },
      {
        label: 'data.gouv.fr',
        link: 'https://data.gouv.fr',
        tooltipMessage: 'data.gouv.fr - ouvre une nouvelle fenêtre',
        target: '_blank',
      },
    ]"
    [mandatoryLinks]="[
      { label: 'Plan du site', link: 'https://cartes.gouv.fr/plan-du-site' },
      {
        label: 'Accessibilité: partiellement conforme',
        link: 'https://cartes.gouv.fr/accessibilite',
      },
      {
        label: 'Mentions légales',
        link: 'https://cartes.gouv.fr/mentions-legales',
      },
      {
        label: 'Données personnelles',
        link: 'https://cartes.gouv.fr/donnees-personnelles',
      },
    ]"
    [partnerMain]="[]"
    [partnersSub]="[
      {
        imagePath: 'https://data.geopf.fr/annexes/ressources/footer/ign.png',
        imageAlt: 'IGN',
        link: 'https://www.ign.fr',
      },
      {
        imagePath: 'https://data.geopf.fr/annexes/ressources/footer/min_fp.jpg',
        imageAlt: 'MINISTÈRE DE LA TRANSFORMATION ET DE LA FONCTION PUBLIQUES',
        link: 'https://www.transformation.gouv.fr/',
      },
      {
        imagePath:
          'https://data.geopf.fr/annexes/ressources/footer/min%5Fecologie.jpg',
        imageAlt:
          'MINISTÈRE DE LA TRANSITION ÉCOLOGIQUE ET DE LA COHÉSION DES TERRITOIRES',
        link: 'https://www.ecologie.gouv.fr/',
      },
      {
        imagePath:
          'https://data.geopf.fr/annexes/ressources/footer/rf%5Fcnig.jpg',
        imageAlt: 'Conseil National de l’Information Géolocalisée',
        link: 'https://cnig.gouv.fr/',
      },
    ]"
    [reboundLinks]="[]"
    [license]="
      'Sauf mention explicite de propriété intellectuelle détenue par
    des tiers, les contenus de ce site sont proposés sous &#60;a href=&#34;https://github.com/etalab/licence-ouverte/blob/master/LO.md&#34; target=&#34;_blank&#34; title=&#34;licence etalab-2.0 - ouvre une nouvelle fenêtre&#34;&#62;licence etalab-2.0&#60;/a&#62;'
    "
  ></dsfr-footer>
</div>
